// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

/*滚动条样式*/
/*body::-webkit-scrollbar { width: 0; height: 0; }*/
/*.ps__rail-x,.ps__rail-y{ z-index: 999999 }*/
*::-webkit-scrollbar { width: 6px; height: 6px; }
*::-webkit-scrollbar-thumb { border-radius: 6px; background-color: rgba(0, 0, 0, .42); }
*::-webkit-scrollbar-thumb:hover { cursor: pointer; background-color: #90cdee; }
*::-webkit-scrollbar-thumb:active { background-color: #0077be; }
/**:hover::-webkit-scrollbar-thumb{ background-color: rgba(255, 255, 255, 0.5); }*/
*::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0.9); border: 1px solid rgba(0, 0, 0, 0.1); }
*::-webkit-scrollbar-button { display: none; }
